<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pancake Circus</title>

    <environment names="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" asp-fallback-href="~/lib/font-awesome/font-awesome.css">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    </environment>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Pancake Circus</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Inventory
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">View Inventory</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Edit">Take Inventory</a></li>
                        </ul>
                    </li>
                    <li><a asp-area="" asp-controller="Account" asp-action="Index">Accounts</a></li>
                    <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Orders
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Orders" asp-action="Index">View Orders</a></li>
                            <li><a asp-area="" asp-controller="Orders" asp-action="Generate">Generate Order</a></li>
                        </ul>
                    </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Vendors
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a asp-area="" asp-controller="Vendor" asp-action="Index">View Vendors</a></li>
                        <li><a asp-area="" asp-controller="Vendor" asp-action="Edit">Edit Vendors</a></li>
                    </ul>
                </li>
             </ul>
</div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016 - PancakeCircus</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/vue/dist/vue.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        
        <script src="https://unpkg.com/vue/dist/vue.min.js"
                asp-fallback-src="~/lib/vue/dist/vue.min.js">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
