@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
.btn-success {padding-top: 20px;}
<button type="button" class="btn btn-success center-block btn-lg">Generate Order</button>
.btn-success {padding-top: 20px;}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Item</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Vendor</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Eggs</td>
            <td>20 Cartons +/-</td>
            <td>200.00$</td>
            <td> <div class="dropdown">
            <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown">
                     Vendor 1
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
            <li><a href="#">Vendor 2</a></li>
            <li><a href="#">Vendor 3</a></li>
            </ul>
            </div>
            </td>
        </tr>
        <tr class="success">
            <td>Flour</td>
            <td>20 lbs +/-</td>
            <td>100.69$</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown">
                        Vendor 1
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Vendor 2</a></li>
                        <li><a href="#">Vendor 3</a></li>
                    </ul>
                </div>
            </td>
           
        </tr>
    </tbody>
</table>