@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<button type="button" class="btn btn-success">Generate Order</button>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Item</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Vendor</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Eggs</td>
            <td>20 Cartons +/-</td>
            <td>200.00$</td>
            <td>Vendor 1</td>

</tr>
        <tr class="success">
            <td>Flour</td>
            <td>20 lbs +/-</td>
            <td>100.69$</td>
            <td>Vendor 2</td>
        </tr>
    </tbody>
</table>