@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Order Number</th>
            <th>Order Date</th>
            <th>Total Price</th>
            <th>Fullfilled</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="#">111-111-111</a></td>
            <td>12/24/16</td>
            <td>200.00$</td>
            <td>y/n</td>

        </tr>
        <tr class="success">
            <td><a href="#">222-222-222</a></td>
            <td>1/7/17</td>
            <td>100.00$</td>
            <td>y/n</td>
        </tr>
        <tr class="danger">
            <td>Danger</td>
            <td>Moe</td>
            <td>mary@example.com</td>
        </tr>
        <tr class="info">
            <td>Info</td>
            <td>Dooley</td>
            <td>july@example.com</td>
        </tr>
        <tr class="warning">
            <td>Warning</td>
            <td>Refs</td>
            <td>bo@example.com</td>
        </tr>
        <tr class="active">
            <td>Active</td>
            <td>Activeson</td>
            <td>act@example.com</td>
        </tr>
    </tbody>
</table>