@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section Scripts{
    <script type="text/javascript" src="js/orders/index.js"></script>
}
<h1>Create/view orders here</h1>

<div id="test">
    <h1>java script test: {{message}}</h1>
</div>