@{
    ViewData["Title"] = "Home Page";
}
@section scripts
{
    <environment names="Development">
        <script src="~/js/home/index.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/home/index.min.js"></script>
    </environment>

}
<h2>@ViewData["Title"]</h2>
<div id="view">
    <h2>Inventory</h2>
    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>Item</th>
                <th>Amount Left</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Eggs</td>
                <td>10 cartons</td>
            </tr>
            <tr>
                <td>Flour</td>
                <td>20 lbs</td>
            </tr>
          
        </tbody>
    </table>
</div>