@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section Scripts{
    <script type="text/javascript" src="js/login/index.js"></script>
}

<div id="testVue">
    <h3><span v-bind:title="messageTitle">{{ message }}</span></h3>
</div>