@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Accounts</h1>
    <h2 class="text-center"> Admin Prvileges </h2>
    <table class="table table-bordered table-hover">
        <thead>
            <tr class= "info">
                <th>Privileges</th>
                <th>Access To Privilege</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>View</td>
                <td><div class="checkbox">
                    <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                
            </tr>
            <tr>
                <td>Edit</td>
                <td>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                
            </tr>
            <tr>
                <td>Make Purchase</td>
                <td>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                
            </tr>
        </tbody>
    </table>
    <h2 class="text-center"> Standard User Privileges </h2>
    <table class="table table-bordered table-hover">
    <thead>
        <tr class="info">
            <th>Privileges</th>
            <th>Access To Privilege</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>View</td>
            <td>
                <div class="checkbox">
                    <label><input type="checkbox" value=""></label>
                </div>
            </td>

        </tr>
        <tr>
            <td>Edit</td>
            <td>
                <div class="checkbox">
                    <label><input type="checkbox" value=""></label>
                </div>
            </td>

        </tr>
        <tr>
            <td>Make Purchase</td>
            <td>
                <div class="checkbox">
                    <label><input type="checkbox" value=""></label>
                </div>
            </td>

        </tr>
    </tbody>
</table>
