@model PancakeCircus.Controllers.RegisterRequest

@{
ViewBag.Title = "Register";
Layout = "_LoginLayout";
}

<h2>Register</h2>

<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="" id="loginModal">
                <div class="modal-header">
                    <h3>Login/Register</h3>
                </div>
                <div class="modal-body">
                    <div class="well">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#create" data-toggle="tab">Create Account</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane active in" id="login">
                                <form asp-controller="Accounts" asp-action="Register" class="form-horizontal" method="post">
                                    <br />
                                    <label>Email</label>
                                    <input type="text" value="" asp-for="Email" style="align-content: center" class="form-control input-sm chat-input center-block">
                                    <br />
                                    <label>First Name</label>
                                    <input type="text" value="" asp-for="FirstName" style="align-content: center" class="form-control input-sm chat-input center-block">
                                    <br />
                                    <label>Last Name</label>
                                    <input type="text" value="" asp-for="LastName" style="align-content: center" class="form-control input-sm chat-input center-block">
                                    <br />
                                    <label>Password</label>
                                    <input type="password" value="" asp-for="Password" style="align-content: center" class="form-control input-sm chat-input center-block">
                                    <br />
                                    <div>
                                        <button class="btn btn-primary" type="submit">Create Account</button>
                                    </div>
                                </form>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>